.a1{
    color: bisque;
    background-color: black;
    align-items: center;
    height: 200px;
    display: flex;
    gap: 50px;
}
.a2{
    background-color: lightgray;
    color: black;
    padding-top: 30px ;
    padding-bottom: 20px;
}
.a3{
    text-align: center;
}
.a4{
    font-size: large;
}
.a5{
    font-size: large;
}
.a6{
    font-size: large;
}
.a7{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 0px;
}
.a8{
    text-align: center;
    margin-left: 40px;
}
.a9{
    margin-left: 50px;
}
.b1{
    margin-left: 40px;
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 550px;
}
.c1{
    margin-left: 40px;
}
.ls{
    text-align: center;
    background-color: lightgray;
    color: black;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: larger;
}
.ss{
    margin-left: 30px;
}
.sa{
    margin-left: 50px;
}
.sk{
    margin-right: 110px;
    margin-left: 30px;
}